__pycache__/
*.pyc
.venv/
build/
dist/
cache/
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.map
*.log
*.dmp
*.i64
*.id0
*.id1
*.id2
*.nam
*.til
wotbmod-portal/data/
wotbmod-portal/config.json
mod_api/release/public_preview/BlitzForge-*
*.key
*.pem
analysis/
backup/
work/
.omx/
*.dll
